/* Base Styles -------------------- */
.spacer-1{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.spacer-2 {
  padding-top:1rem;
  padding-bottom: 1rem;
}
.spacer-3 {
  padding-top:1.5rem;
  padding-bottom: 1.5rem;
}